/*.navbar-inner{
    /*height: 90px*/
    /*min-height: 60px
    }
.navbar .navbar-header .brand{
    padding: 0 10px;
}
.navbar .navbar-header .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
/*}
.navbar .navbar-header .btn-navbar {*/
    /*margin-right: 0px;*/
   /* margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .navbar-header .btn-navbar{*/
        /*margin-right: -15px;*/
    /*}
    .navbar .navbar-header .nav > li > a {
        padding: 10px 15px;
    }
}*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}


/*************************
EXAMPLES 2-7 BELOW 
**************************/

/* EXAMPLE 2 (larger logo) - simply adjust top bottom padding to make logo larger */
a
{
    font-weight: bold;
    font-family: "Calibri";
    font-size: 17px;
	font-style: normal;
	font-variant: normal;
	line-height: 18.5714px;
}
.example2 .navbar-brand>img {
  padding: 7px 15px;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}





.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

body {
  font-family: "Lato";
}