<div class="container">
    <h1>Pizzeria</h1>  
</div>
  
<div class="container">
<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
              <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
              <li><a routerLink="/locales" routerLinkActive="active">Locales</a></li>
              <li><a routerLink="/ofertas" routerLinkActive="active">Ofertas</a></li>
              <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
              <li><a routerLink="/informacion" routerLinkActive="active">Informacion</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/registro" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
              <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a style="color:white">Sin usuario</a></li>
              <li><div class="navbar-header"><a class="navbar-brand"><img src="assets/img/usuarios/defecto.png" class="img-circle"></a></div></li>
          </ul>
        </div>
</nav>
</div>