
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="myCarousel" data-slide-to="0" [class]="active1" (click)="cambiar(1)"></li>
      <li data-target="myCarousel" data-slide-to="1" [class]="active2" (click)="cambiar(2)"></li>
      <li data-target="myCarousel" data-slide-to="2" [class]="active3" (click)="cambiar(3)"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div [class]="item1">
        <img src="assets/img/inicio/p1.jpg" width="300" height="300" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Hawaiana</h3>
          <p>El resultado: una pizza sabrosa y crujiente de ambos lados ideal para los amantes de los sabores intensos</p>
        </div>
      </div>

      <div [class]="item2">
        <img src="assets/img/inicio/p2.jpg" width="300" height="300" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Margarita</h3>
          <p>Las pizzas en Turquía se destacan por sus mezcla de colores y sabores</p>
        </div>
      </div>

      <div [class]="item3">
        <img src="assets/img/inicio/p3.jpg" width="300" height="300" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Napolitana</h3>
          <p>Toda una experiencia de vegetales, sobre la masa</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" (click)="anterior()">
      <span class="glyphicon glyphicon-chevron-left"></span>

    </a>
    <a class="right carousel-control" (click)="posterior()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Pizzeria Argenta SRL</h2>
    <p>LA PIZZERIA CON MAS HISTORIA</p>
    La pizzería Argenta está entre las más antiguas y tradicionales. Fué fundada hacia el año 1932 por el Sr. Arturo Malvezzi y el Sr. Guido Grondona, emigrantes Genoveses que habían llegado de Italia en el año 1927.
    Apenas llegados al país se les impuso la idea de fundar una pizzería y alquilaron un local elegido para este fin ubicado en la calle Corrientes entre Uruguay y Talcahuano, inaugurando la Pizzeria Argenta en el año 1932.
    Años mas tarde, el Sr. Malvezzi viajó a Francia para adquirir dicha propiedad ya que los duelos de la misma estaban radicados en aquel país.
    En sus comienzos se atendía en el tradicional mostrador (aún viegente) con solo unas pocas mesas. Lo habitual para la clientela era que se comieran las porciones sobre este mismo, recién sacados del horno a leña.
    Actualmente este mostrador se encuentra intacto a la fecha y es el preferido de los clientes que a diario nos visitan.
    La construcción del amplio salón, ubicado en el primer nivel, dedicado especialmente a la familia. En el mismo se reunían grandes celebridades de la calle Corrientes, entre ellos, intelectuales, actores y políticos. En sus amenas charlas degustaban de nuestras exquisitas pizzas siempre horneadas a leña.
    Principalmente siempre nos hemos esmerado en cuidar la calidad e nuestra materia prima, seleccionando con esmero a nuestros proveedores y sobre todo destacando la calidad de nuestra muzzarella, la cual proviene directamente de nuestros propios tambos.
    A su vez, queremos destacar la profesionalidad de nuestros maestros pizzeros y pasteleros. Muchos de ellos poseen más de 30 años trabajand, los cuales con devota pasión son los forjadores de la nueva generación de pizzeros de nuestra casa.
  </div>
</div>
