<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" >
	<div *ngFor="let item of productos">
		<div class="col-xs-12 col-md-6 bootstrap snippets">
		<!-- product -->
			<div class="product-content product-wrap clearfix">
				<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image"> 
								<!--img src="http://localhost/api/img/productos/{{item.img}}" alt="194x228" class="img-responsive"--> 
								<img src="http://www.osmar.hol.es/img/productos/{{item.img}}" alt="194x228" class="img-responsive"> 
								<span class="tag2 hot">
									SALE!
								</span> 
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="product-deatil">
								<h5 class="name">
									<a href="#">
										{{item.descripcion}}<span>Category</span>
									</a>
								</h5>
								<p class="price-container">
									<span>${{item.precio}}</span>
								</p>
								<span class="tag1"></span> 
						</div>
						<div class="description">
							<p>Los mejores productos solo en Pizzeria Argento</p>
							<p>Mucho mejor de UGIS y Fabrica de pizzas!</p>
						</div>
						<div class="product-info smart-form">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="row" *ngIf="usuario.tipo!='' ">
										<div class="col-xs-6"><button class="btn btn-success btn-sm" (click)="Pedir(item)" >Pedir!</button></div>
										<div class="col-xs-6" *ngIf="usuario.tipo == 'Encargar' || usuario.tipo == 'Administrador'"><button class="btn btn-danger btn-sm" (click)="BorrarProducto(item)" >Borrar!</button></div>
									</div> 
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="rating">
										<label for="stars-rating-5"><i class="fa fa-star" style="color:red"></i></label>
										<label for="stars-rating-4"><i class="fa fa-star" style="color:red" ></i></label>
										<label for="stars-rating-3"><i class="fa fa-star" style="color:red" ></i></label>
										<label for="stars-rating-2"><i class="fa fa-star" style="color:red" ></i></label>
										<label for="stars-rating-1"><i class="fa fa-star"></i></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- end product -->
		</div>
	</div>

	<!--div class="row"  *ngIf="usuario.tipo!='' ">
		<div class="col-md-6" *ngIf=" usuario.tipo!='Cliente' "><button type="button" class="btn btn-primary " (click)="VerFormulario()" >Agregar Producto Nuevo!</button></div>
		<div class="col-md-6"><button type="button" class="btn btn-success " (click)="VerPedidos()" >Ver Mis Pedidos!</button></div>
			

	</div--><br>
	<div class="row" *ngIf=" usuario.tipo!='' ">
  <div class="col-sm-4" *ngIf=" usuario.tipo!='Cliente' "><button type="button" class="btn btn-primary  btn-block " (click)="VerFormulario()" >Agregar Producto Nuevo!</button></div>
  <div class="col-sm-4" *ngIf=" usuario.tipo!='Cliente' "><button type="button" class="btn btn-danger btn-block" (click)="VerTodosPedidos()" >Ver Pedidos!</button></div>
  <div class="col-sm-4" ><button type="button" class="btn btn-success btn-block" (click)="VerPedidos()" >Ver Mis Pedidos!</button></div>
</div>
	<br>
	<div class="row" *ngIf="listadoPedidos">
		<h1 style="background:skyblue">Pedidos del usuario : {{usuario.apellido}} {{usuario.nombre}}</h1>
        <div class="col-md-12" style="background:white">
        	<div class="table-responsive">
              <table id="mytable" class="table table-bordred table-hover " >
                <thead >
                    <th>Fecha</th>
                	<th>Producto</th>
                    <th>Precio</th>
                    <th>Local</th>
                    <th>Estado</th>
                    <th>Accion</th> 
                </thead>
    <tbody *ngFor="let item of mispedidos" ><!--RECORRO EL ARRAY DE JSON DE PEIDOS DE FIREBASE!-->

    <tr *ngIf="usuario.id==item.idUsuario"><!--VALIDO QUE SOLO MUESTRE LOS PEDIDOS DEL USUARIO LOGEADO!-->

    <td>{{item.fecha}}</td>
    <td>{{item.producto}}</td>
    <td>$ {{item.precio}}</td>
    <td>{{item.local}}</td>
	<div *ngIf="item.estado=='Pendiente'"><td class="label label-warning" >{{item.estado}}</td></div>
	<div *ngIf="item.estado=='Pagado'"><td class="label label-success">{{item.estado}}</td></div>
    <td><div *ngIf="item.estado=='Pendiente'"><button type="button"  (click)="Pagar(item)" class="btn btn-primary btn-sm"> Pagar</button></div></td>
    </tr>

    </tbody>
        
</table>
        </div>
		</div>
		</div>
<!---->


	<br>
	<div class="row" *ngIf="todosPedidos">
		<h1 style="background:skyblue">Listado de todos los pedidos realizados, Empleado : {{usuario.apellido}} {{usuario.nombre}}</h1>
        <div class="col-md-12" style="background:white">
        	<div class="table-responsive">
              <table id="mytable" class="table table-bordred table-hover " >
                <thead >
                    <th>Fecha</th>
					<th>Usuario</th>
                	<th>Producto</th>
                    <th>Precio</th>
                    <th>Local</th>
                    <th>Estado</th>
                    <th>Accion</th> 
                </thead>
    <tbody *ngFor="let item of mispedidos" ><!--RECORRO EL ARRAY DE JSON DE PEIDOS DE FIREBASE!-->

    <tr><!--VALIDO QUE SOLO MUESTRE LOS PEDIDOS DEL USUARIO LOGEADO!-->

    <td>{{item.fecha}}</td>
	<td>{{item.usuario}}</td>
    <td>{{item.producto}}</td>
    <td>$ {{item.precio}}</td>
    <td>{{item.local}}</td>
	<div *ngIf="item.estado=='Pendiente'"><td class="label label-warning" >{{item.estado}}</td></div>
	<div *ngIf="item.estado=='Pagado'"><td class="label label-success">{{item.estado}}</td></div>
    <td><div *ngIf="item.estado=='Pagado'"><button type="button"  (click)="Enviar(item)" class="btn btn-primary btn-sm"> Enviar</button></div></td>
    </tr>

    </tbody>
        
</table>
        </div>
		</div>
		</div>

<!-- FORMULARIO PRODUCTO-->
<br><br>
	<div class="row" *ngIf="formulario" style="background:cornflowerblue;">

  		<div class="col-xs-6">
	  
               <label for="descripcion" class=" control-label">Descripcion del Producto:</label>
              
                  <input [(ngModel)]="producto.descripcion"  name="descripcion" id="descripcion" type="text" maxlength="20" class="form-control" (keyup)="Keyup(1)" [ngStyle]="alertStylesDescripcion" (focusout)="Verificar(1)"/>
               
            
               <label for="precio" class="control-label">Precio del producto:</label>
              
                  <input [(ngModel)]="producto.precio" name="precio" id="precio" type="text" class="form-control" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');" (keyup)="Keyup(2)" [ngStyle]="alertStylesPrecio" (focusout)="Verificar(2)">

				  <label for="imagen" class="control-label">Seleccione una foto del producto:</label>

				  <input type="file" ng2FileSelect [uploader]="uploader" id="file" (change)="Imagen()" />

                  <div class="alert alert-danger" *ngIf="errorFoto">
					  <strong>Error!</strong> {{Mensaje}}
					  </div><br>

				  <div style="width: 200px;margin: 0 auto;">
					  <button type="button" class="btn btn-success btn-block" (click)="AgregarProducto()" [disabled]="condicion1 || condicion2" >Guardar Producto</button>
				  </div><br>
  		</div>

		<div class="col-xs-6" >
			
			<div class="form-group">
			
			<div *ngIf="!loading2" class="center">

				<img  [src]="foto"  width="200px"  height="200px">
      
      		</div> 
      
      		<div *ngIf="loading2" class="center">
        
         		<div class="loader2"></div>
      
      		</div>
			
			</div>

		</div>

	</div>
	<!-- FIN FORMULARIO PRODUCTO -->
</div>
