<div class="container">
<div id="products" class="row list-group">
  <div *ngFor="let item of productos" >
  <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="assets/img/productos/{{item.img}}"  width="200px" height="120px"/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{item.descripcion}}</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolosssre magna aliquam erat volutpat.ssss</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                ${{item.precio}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" (click)="Pedir(item)">Pedir!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
</div>