<div class="container">
<button type="button" class="btn btn-primary" (click)="Cargar('1')" >Cliente</button>
<button type="button" class="btn btn-success" (click)="Cargar('2')" >Empleado</button>
<button type="button" class="btn btn-info" (click)="Cargar('3')" >Encargado</button>
<button type="button" class="btn btn-warning" (click)="Cargar('4')" >Administrador</button>
</div>

<div class="container"><br><br>

  <div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="assets/img/usuarios/defecto.png" />

    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin"><br>

      <input [(ngModel)]="usuario.email" name="email" type="email" [ngStyle]="alertStylesEmail" (focusout)="Verificar(1)" (keyup)="Keyup(1)" class="form-control" id="email" placeholder="Introduce tu email...">
      
      <input [(ngModel)]="usuario.password" name="password" type="password" [ngStyle]="alertStylesPass" (focusout)="Verificar(2)" (keyup)="Keyup(2)" class="form-control" id="password" placeholder="Contraseña..."><br>
      
      

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="Login()"  ><span class="glyphicon glyphicon-user"></span> Login</button>
      
      <button class="btn btn-lg btn-success btn-block btn-signin2" type="button" (click)="Registro()" ><span class="glyphicon glyphicon-edit"></span> Registrarme!</button>
      
      
      
    <div *ngIf="loading" class="LockOn"><!-- SPINNER -->
  
      <div  class="parent">
        
        <div class="loader"></div><br>

      </div>

    </div><!-- FIN SPINNER -->
    
    </form><!-- /form -->
  
  </div><br><br><br><br><br><br><br><br><br><br>

</div>
        